body {
  background-color: #6BB83E
}

#article-display {
  border: 4px;
  border-style: solid;
  border-color: black;
  opacity: 0.8;
  background-color: white;
  padding: 15px
}

#comment-display {
  border: 4px;
  border-style: solid;
  border-color: black;
  background-color: white;
  opacity: 0.8;
  padding: 15px
}

textarea {
  width: 100%
}

.view-btn {
  float: right
}

.article-box {
  border: 2px;
  border-style: solid;
  border-color: royalblue;
  padding: 5px;
  margin: 5px
}

.comment-box {
  border: 2px;
  border-style: solid;
  border-color: royalblue;
  padding: 5px;
  margin: 5px
}